nav {
    background: #fff;
    float: left;
    line-height: 140%;
    margin-right: 5%;
    padding: 1rem;
    width: 20%;
    a {
        text-decoration: none;
    }
    a:hover {
        border-bottom: 1px solid $boulder-grey;
    }
    a:after {
        content: '';
        display: table;
    }
}

.main {
    background: #fff;
    float: left;
    width: 50%;
    padding: 1.2rem 1.5rem 1.5rem 1.5rem;
}

.panel { 
    background: $buttermilk-yellow; 
    padding: 1.5rem 1.5rem 0.6rem 1.5rem;
    h1, h2, h3 {
        font-size: 1.3rem;
        margin-top: 0;
    }
    p {
        font-size: .9rem;
    }
}
