$navWidth: 30%;
nav {
    background: $devils-grey;
    color: #fff;
    float: left;
    height: 100vh;
    line-height: 140%;
    padding: 1rem;
    width: $navWidth;
    a {
        text-decoration: none;
    }
    a:hover {
        border-bottom: 1px solid $boulder-grey;
    }
    a:after {
        content: '';
        display: table;
    }
    h1, h2, h3 {
        font-size: 1.2rem;
    }
}

.main {
    background: #fff;
    float: left;
    height: 100vh;
    overflow-y: scroll;
    padding: 2rem 3.5rem;
    width: (100% - $navWidth);
}

.panel { 
    background: $buttermilk-yellow; 
    padding: 1.5rem 1.5rem 0.6rem 1.5rem;
    h1, h2, h3 {
        font-size: 1.3rem;
        margin-top: 0;
    }
    p {
        font-size: .9rem;
    }
}
