input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea,
select {
  //-webkit-appearance: none;
  background-color: $color-white;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid $silver-chalise;
  box-shadow: inset 1px 1px 4px rgba(0,0,0,.2);
  color: rgba(0,0,0,.75);
  display: block;
  font-family: inherit;
  font-size: $small-font-size;
  height: 2.4rem;
  margin: 0 0 .5rem;
  padding: .5rem .6rem;
  transition: box-shadow .45s,border-color .45s ease-in-out;
  width: 100%;
}

textarea {
  resize: vertical;
}

select {
  box-shadow: inset -1px -1px 4px rgba(0,0,0,.2);
}