* {
    box-sizing: border-box;
}
body { 
    background: $alto-grey;
    color: $mine-shaft-black;
    margin: 0;
}
code { 
    background: $alto-grey;
    padding: 0.15rem 0.35rem;
}
pre {
    word-wrap: normal;
}