* {
    box-sizing: border-box;
}
body { 
    background: $alto-grey;
    color: $mine-shaft-black;
    margin: 0;
}
code { 
    background: $silver-grey-c;
    padding: 0.15rem 0.35rem;
}
pre > code {
    background: $alto-grey;
    border-left: 6px solid $jaffa-orange;
    padding: .8rem 1rem;
    display: block;
    word-wrap: normal;
}