@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic);

body { 
    font-family: 'Droid Sans';
}
h2 {
    margin-top: 2.5rem;
}
p { 
    line-height: 135% 
}
strong {
    font-weight: 700;
}
i {
    font-family: 'Droid Serif';
    font-weight: italic;
}
i.faux-italics {
    font-family: 'Droid Sans';
    font-weight: italic;
}