@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

body { 
    font-family: 'Droid Sans';
}
h1 { 
    margin: 0; 
    letter-spacing: -0.3px;
}
h2, h3 { 
    margin: 0; 
    letter-spacing: -0.2px;
}
p { 
    line-height: 135% 
}
