@import 
    'typography',
    'colors',
    'buttons',
    'helpers';

* {
    box-sizing: border-box;
}
body { 
    background: $alto-grey;
    color: $mine-shaft-black;
    margin: 0;
}
li { 
    line-height: 140% 
}
code { 
    background: $alto-grey;
    padding: 0.15rem 0.35rem;
}

nav {
    background: #fff;
    float: left;
    line-height: 140%;
    margin-right: 5%;
    padding: 1rem;
    width: 20%;
    a:after {
        content: '';
        display: table;
    }
}

.main {
    background: #fff;
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 1.2rem 1.5rem 1.5rem 1.5rem;
}
.panel { 
    @extend .main;
    background: $lemon-chiffon-yellow; 
    margin-top: 1rem;
    padding: 1.5rem 1.5rem 0.6rem 1.5rem;
}

.color-block {
    float: left;
    font-family: 'Courier New', 'Lucida Console';
    font-size: .8rem;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
}
.color-description {
    float: left;
    margin-left: 1rem;
    width: 80%;
}
.color-block--invert {
    color: #fff;
}