@import 'colors', 'settings', 'base', 'helpers', 'typography', 'buttons', 
  'components', 'form-input', 'form-checkbox', 'form-radio';

ol, ul, li { 
  line-height: 150%;
}

.color-block {
  float: left;
  font-family: 'Courier New', 'Lucida Console';
  font-size: .8rem;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 100px;
}

.color-block--invert {
  color: #fff;
}

.color-description {
  float: left;
  margin-left: 1rem;
  width: 80%;
}

textarea {
  min-height: 5rem;
}